/**{
    font-size: 9pt;
}*/

.login_second_options_label{
    text-align: center;
}

.login_form{
    margin-bottom: 5%;
}

.login_recovery{
    margin-right: 2%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hover_class {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.hover_class:hover, .hover_class:focus {
  background-size: 100% 2px;
}